/* You can add global styles to this file, and also import other style files */

.answerBtn {
  margin-right: 5px;
}

.active {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}

.questionLine {
  padding: 15px 0;
}
